#gamePage {
  background-color: #141E30;
  height: 100vh;

  span {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .timer {
      .value {
        font-size: 90px;
        line-height: 109px;
      }
    }
    .score {
      .value {
        font-size: 50px;
        line-height: 61px;
      }
    }
  }
}